@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

html {
  overflow-x: hidden;
}

.loading-container {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  width: 5rem;
  height: 5rem;
  border: 4px solid gray;
  margin: 0 0 1rem 0;
  border-top: 4px solid transparent;
  border-radius: 50%;
  pointer-events: none;
}

.parent-home {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.users-list-container {
  width: 45%;
  height: 80%;
  box-shadow: 3px 3px 5px gray, -3px 3px 5px gray, 3px -3px 5px gray;
}

.list-container::-webkit-scrollbar {
  display: none;
  width: 1px;
}

.user-data {
  width: 45%;
  height: 80%;
  box-shadow: 3px 3px 5px gray, -3px 3px 5px gray, 3px -3px 5px gray;
}

.list-header {
  background-color: rgba(197, 223, 255, 1);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-header-txt {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.875rem;
  vertical-align: middle;
  font-weight: 500;
  text-transform: uppercase;
}

.list-container {
  height: calc(100% - 4rem);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.single-container {
  width: 100%;
  height: 4.125rem;
  background-color: rgba(236, 236, 236, 1);
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 8px 10px 8px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.single-container:active,
.single-container:focus-visible,
.single-container:hover {
  background-color: rgba(212, 212, 212, 1);
}

.single-container > img {
  width: 3.125rem;
  margin: 0 0.5rem 0 0;
  object-fit: contain;
  border: none;
  border-radius: 50%;
}

.user-full-name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.875rem;
  vertical-align: middle;
}

.user-info {
  width: 100%;
  height: calc(100% - 4rem);
}

.single-user-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.single-user-card > img {
  border: none;
  border-radius: 50%;
}

.single-user-bio {
  width: 60%;
  height: 5rem;
  background-color: rgba(219, 219, 219, 1);
  text-align: left;
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin: 0;
  outline: 1px solid rgba(108, 108, 108, 1);
}

.single-user-readonly {
  width: 60%;
  text-align: left;
  height: 2.9rem;
  display: flex;
  flex-direction: column;
}

.single-user-readonly > p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.625rem;
  line-height: 0.765rem;
  vertical-align: middle;
  color: #000;
  margin: 0;
  font-weight: 500;
}

.single-user-readonly > input {
  height: 1.938rem;
  background-color: rgba(219, 219, 219, 1);
  color: #000;
  border: 1px solid rgba(108, 108, 108, 1);
  border-radius: 4px;
  padding: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Target mobile devices (portrait orientation) and tablets */
@media only screen and (max-width: 768px) {
  /* Your CSS styles for mobile and tablets go here */
  /* For example, you can adjust font size, layout, or other styles */
  html {
    font-size: 14px;
  }
  .parent-home {
    flex-direction: column-reverse;
    height: max-content;
  }
  .users-list-container {
    width: 90%;
    height: 36rem;
    margin: 2rem 0 2rem 0;
  }

  .user-data {
    width: 90%;
    height: 36rem;
    outline: 1px solid teal;
    margin: 2rem 0 2rem 0;
  }

  .single-user-card > div {
    width: 80%;
  }
}
